body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  display: inline-block;
  padding: 10px 30px;
  font-weight: lighter;
  text-decoration:none;
  text-transform: uppercase;
  border-radius: 200px;
  transition: background-color 0.2s ease,border 0.2s,color 0.2s;
  width: 300px;
  
}
.btn-full{
  background-color: #F1EC40;
  color:#121212;
  margin-right: 15px;
  border: 1px solid #121212;
}
.btn-full:hover{
  font-weight: bold;
  
  
}
.btn-ful{
  background-color: #121212;
  color: #F1EC40;
  margin-right: 15px;
  border: 1px solid #121212;
}
.btn-ful:hover{
  font-weight: bold;
  
}


.containersx{
  width:80%;
  height: 300px;
  top: 25%;
  margin: -7%  auto 20px auto;
  position: relative;
  justify-content:space-evenly;
  letter-spacing: 1px;
  padding: 3px;
}

#navbar a {
  display:block;
  text-align:center;
  width:90px;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F1EC40;
  align-items: center;
  font-family: 'Questrial', sans-serif;
  
}

li {
  float:left;

}

li a {
  display: block;
  color: #121212;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}


li a:hover {
  font-weight:bold;
  
}

.active {
  border-bottom: 2px solid #121212;
  font-weight:bold;
  
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #121212;
}

.right {
  right: 0;
  background-color: #F1EC40;
}
.centerednav {
  position: absolute;
  
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 500px;
}