
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn{
  display: inline-block;
  font-weight: lighter;
  text-decoration:none;
  text-transform: uppercase;
  padding-top: 5px;
  text-align: center;
  border-radius: 200px;
  transition: background-color 0.2s ease,border 0.2s,color 0.2s;
  width: 300px;
  height:50px;
  font-family: 'Poppins', sans-serif;
  
}
.btn-full{
  background-color: #F1EC40;
  color:#121212;
  margin-right: 15px;
  border: 1px solid #121212;
}
.btn-full:hover{
  font-weight: bold;
  background-color: unset;
  width: 400px;
  height: 75px;
  font-size: 30px;
}
.btn-ful{
  background-color: #121212;
  color: #F1EC40;
  margin-right: 15px;
  border: 1px solid #121212;
}
.btn-ful:hover{
  font-weight: bold;
  background-color: #121212;
  width: 400px;
  height: 75px;
  font-size: 30px;
  padding-top: 15px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}



.container {
  padding: 2px 16px;
}

.containersx{
  width:80%;
  height: 300px;
  top: 25%;
  margin: -7%  auto 20px auto;
  position: relative;
  justify-content:space-evenly;
  letter-spacing: 1px;
  padding: 3px;
  font-family: 'Poppins', sans-serif !important;
}

#navbar a {
  display:block;
  text-align:center;
  width:90px;
  
}
i{
  
  padding: 3%;
}

button {
  background-color: #121212;
  color: #F1EC40;
  padding: 14px 20px;
  border-radius: 200px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}

button:hover {
  opacity: 0.8;
  color: #F1EC40;
  background-color: #121212;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  align-items: center;
  font-family: 'Questrial', sans-serif;
  
}

li {
  float:left;

}

li a {
  
  color: #121212;
  padding: 10px 10px;
  text-decoration: none;
  width: 70px;
  font-size: 120%;
	
  border-bottom: 2px solid transparent;
}


li a:hover {
  
  font-weight:bold;
  
}
.active{
  font-weight:bold;
  border-bottom: 2px solid #121212;
}
form {
  border: 6px solid #121212;
  padding: 50px;
}

input[type=text].in, input[type=password].in{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #121212;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff !important;
}
input::placeholder { 
  color: #8e8e8e;
  opacity: 0.7;
  font-family: poppins;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #121212;
}

.right {
  right: 0;
  background-color: #F1EC40;
}
.centerednav {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 500px;
}

.outsidediv{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  background-color: #121212;
}

.insidediv {
  height: 100%;
  width: 85%;
  left:15%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  background-color: #121212;
}

.styles{
  position: relative;
  font-family: 'Poppins', sans-serif;
  color:#fff;
  font-size: 15px;
  left:3%;
}

.back{
  
  width:100%;
  top: 0%;
  height: 15%;
  background-color: #F1EC40;
}

#mag a:hover {
  font-size: 36px;
  
}

.activein{
  font-size:36px;
}

.nav-in{
  position: fixed;
  top: 0%;
  left:0%;
  text-align: center;
  width: 10%;
	
}
#navbar-in{
  overflow: hidden;
  background-color: #121212;
  display: block;
}
#navbar-in a{
  display: block;
  color: #fff;
  width:90px;
  float:center;
}

.img-pos{
  position: relative;
  top: 15%;
  left: 3%;
}

.innerprofs{
  position: absolute;
  width: 60%;
  text-align: center;
  height: 100%;
  left:20%
}

.centered-home{
  height: 100%;
  width: 85%;
  left:8%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  background-color: #121212;
  text-align: center;
}

.innerprofs-re{
  position: absolute;
  width: 60%;
  text-align: center;
  height: 40%;
  left:11%;
}

.newbutton{
  background-color: rgb(20, 196, 250);
  color: #fff;
  padding: 14px 20px;
  border-radius: 200px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  font-weight: 700;
}
.newbutton:hover {
  color: #fff;
  opacity: 1;
  background-color: #4ff140;
}

#toast-container{
  top: 100px;
  right: 20px;
  left: auto;
  font-family: 'Poppins', sans-serif !important;
}

h1{
  font-family: 'Poppins', sans-serif !important;
}